In [1]:
from openbabel import openbabel

In [1]:
from rdkit import Chem
from rdkit.Chem import rdBase
from rdkit.Chem import Draw
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Descriptors

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('glucose_amm_output.tsv', sep='\t')

In [4]:
data

      Generation                   Smiles
0             G0                        N
1             G0                        O
2             G0  C(C(C(C(C(CO)O)O)O)O)=O
3             G1                  C(CO)=O
4             G1          C(C(C(CO)O)O)=O
...          ...                      ...
26121         G4        C(C(CO)O)=NC=CC=O
26122         G4      C(C(CO)O)=NC(C=O)=C
26123         G4    C(C(C(CC=CC=O)=O)O)=O
26124         G4    C(CC=CC(C(C=O)O)=O)=O
26125         G4             C(CC=CC=O)=O

[26126 rows x 2 columns]

In [9]:
obConversion = openbabel.OBConversion()
obConversion.SetInAndOutFormats("smi", "sdf")

True

In [15]:
mol = openbabel.OBMol()

In [16]:
smiles = data['Smiles'][0]

In [17]:
obConversion.ReadString(mol, smiles)

True

In [18]:
print(mol.NumAtoms())

1

In [19]:
mol.AddHydrogens()

True

In [20]:
print(mol.NumAtoms())

4

In [21]:
outSDF = obConversion.WriteString(mol)

In [22]:
print(outSDF)

 OpenBabel06192117002D

  4  3  0  0  0  0  0  0  0  0999 V2000
    0.0000    0.0000    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000    0.0000    0.0000 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000    0.0000    0.0000 H   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000    0.0000    0.0000 H   0  0  0  0  0  0  0  0  0  0  0  0
  1  2  1  0  0  0  0
  1  3  1  0  0  0  0
  1  4  1  0  0  0  0
M  END
$$$$