In [77]:
from openbabel import openbabel

In [78]:
from rdkit import Chem
from rdkit.Chem import rdBase
from rdkit.Chem import Draw
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Descriptors
from rdkit.Chem import Crippen
from rdkit import RDLogger

In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as ss

In [80]:
import dataframe_image as dfi

In [83]:
def table_maker(hits_path, network_title, num_generations):
    database_hits = pd.read_csv(hits_path, sep='\t')
    gen_data = np.arange(0, num_generations+1, step=1)
    df_data = {'Generation': gen_data}
    df = pd.DataFrame(df_data)
    
    df['Whole Network'] = database_hits['Whole Network']
    df['Computed Set'] = database_hits['Computed Set']
    #df['% of Whole Network'] = round(((df['Computed Set'] / df['Whole Network'])*100), 2)
    
    df['HMDB'] = round(database_hits['HMDB'])
    df['HMDB hits as % of Computed Set'] = round(((df['HMDB'] / df['Computed Set'])*100), 2)
    
    df['KEGG'] = round(database_hits['KEGG'])
    df['KEGG hits as % of Computed Set'] = round(((df['KEGG'] / df['Computed Set'])*100), 2)
    
    df['ECMDB'] = round(database_hits['ECMDB'])
    df['ECMDB hits as % of Computed Set'] = round(((df['ECMDB'] / df['Computed Set'])*100), 2)
    
    if df['Whole Network'][0] == 0.0:
          df = df.drop([0])
    
    dfi.export(df, f'Tabulated{network_title}DatabaseMatches.png')
    #df.to_csv(f'Tabulated{network_title}DatabaseMatches.tsv', header=None, index=None, sep='\t', mode='a')
    return(df)

In [88]:
df = table_maker('./DatabaseMatchingScript/DatabaseMatches/FormoseDatabaseMatches.tsv', 'Formose', 5)

In [76]:
df

,Generation,Whole Network,Computed Set,% of Whole Network,HMDB,HMDB hits as % of Computed Set,KEGG,KEGG hits as % of Computed Set,ECMDB,ECMDB hits as % of Computed Set
1,1,6.0,1.0,16.67,1.0,100.00,1.0,100.00,1.0,100.00
2,2,25.0,2.0,8.00,1.0,50.00,1.0,50.00,1.0,50.00
3,3,145.0,23.0,15.86,4.0,17.39,2.0,8.70,2.0,8.70
4,4,1070.0,180.0,16.82,12.0,6.67,8.0,4.44,4.0,2.22
5,5,9081.0,1310.0,14.43,26.0,1.98,21.0,1.60,13.0,0.99
6,6,63280.0,4971.0,7.86,49.0,0.99,38.0,0.76,23.0,0.46

In [64]:
int(1.0)

1